

/* КОЛІР РСНОВНОГО ТЕКСТУ #212121 */
/* ДРУГОРЯДНИЙ КОЛІР ТЕКСТУ #757575 */

*{  
    box-sizing: border-box;
}

p, h1, h2, h3, h4, h5, h6 { 
margin: 0;
}

ul {
margin: 0;
padding-left: 0;
}

img{
    display: block;
}

:root{
    --main-text: #212121;
    --secondary-text: #757575;
}

body{
    background-color:#FFFFFF ;
    color: var(--main-text);
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.03em  
}

.header{
    background-color: #FFFFFF;
    padding-top: 24px;
    padding-bottom: 25px;
    border-bottom-width: 1px; 
    border-bottom-style: solid; 
    border-bottom-color: #ECECEC;
}

.container{
    max-width: 1200px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

.logo{
    color: #2196F3;
}

.logo1{
    color: #000000;
}

.logo-font{
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
}

.navigation{
    color: var(--secondary-text);
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.navigation:hover,
.navigation:focus{
    color: #2196F3;
}

.header-connect{
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 50px;
}

.header-logo{
    margin-right: 93px;
}

.header-list{
    display: flex;
    align-items: center;
    gap: 50px;
}

.header-container{
    display: flex;
    align-items: center;
}

.list{
    list-style: none;
}

.link{
    text-decoration: none; 
}

.contact-color{
    color: #757575;
}

.hero{
    background-color: #2F303A;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 200px;
}

.hero-title, .logo2, .navigation-address{
    color: #FFFFFF;
}

.hero-text{
    
    font-weight:900;
    font-size: 44px;
    line-height: 1.36;
    letter-spacing: 0.06em;
    text-align: center;
    width: 696px;
    margin-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.hero-title-btn{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 32px;
    color:#FFFFFF;
    background-color: #2196F3; 
    border: none;
    border-radius: 4px;
}

.container-benefits{
    display: flex;
    gap: 30px;
}

.section-corporate{
    margin-right: 30px;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
}

.section-name{
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    margin-bottom: 10px;
}

.section-title{
    color: var(--secondary-text);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}


.section-doing{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16; 
    display: block;
    text-align: center;
}

.section-doing-picture{
    margin-right: 30px;
    display: flex;
    align-items: center;
    gap: 30px;
    margin-top: 50px;
    max-width:100%; 
    height: auto;
}

.section-team{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    margin-bottom: 10px;
}

.description{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18; 
}

.container-team{
    text-align: center;
}


.footer{
    padding: 60px 0;
    background-color: #2F303A;

}

.footer-logo{
    margin-bottom: 20px;
}

.footer-address-font{
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    font-style: normal;
    display: block;
}

.section-background{
    background-color: #F5F4FA;
}



.button-secondary{
    color: var(--main-text);
    background-color: #F5F4FA;
    border: none;
    border-radius: 4px;
    padding: 6px 22px;
    
}

.button-secondary:hover,
.button-secondary:focus{
    color: #FFFFFF;
    background-color: #2196F3;
}

.current{
    color: #2196F3;
}

.portfolio-item{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    padding: 6px 22px;
}

.section{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-text);
    padding: 94px 15px ;
    

}

.section-benefits{
    padding-top: 94px; ;
}

button{
    cursor: pointer;
}

.section-portfolio{
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--main-text);
    padding-bottom: 4px;
}

.section-title-portfolio{
    color: var(--secondary-text);
    font-weight: 400;
    font-size: 14px;
    line-height: 1.7;
}

.work-portfolio{
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

}

.button-portfolio{
    display: flex;
    gap: 8px;
    margin-bottom: 56px;
    margin-top: 50px;
    justify-content: center; 
}

.section-doing-title{
    padding-top: 94px;
    padding-bottom: 94px;
}

.footer-contact:not(:last-child) {
    margin-bottom: 9px;
}

.section-teams{
    margin-top: 30px;
    margin-bottom: 30px;
}

.section-corporate-team{
    background-color: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.section-portfolios{
    margin-top: 94px;
    margin-bottom: 94px;
}

.portfolio-card{
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    padding: 20px 24px;

}


